.searchBarForm{
  display: flex;
  flex-direction: row;
}
.searchBar .searchBarInput{
  width: 60vw;
  height: 6vh;
  border-radius: 4px;
  font-size: 20px;
  border: solid 2px #9095a1;

}

.searchBar .searchIcon {
  font-size: 20px;
  position: absolute;
  left: 16%;
  top: 26.8%;
}

.searchBar .searchBarButton {
  height: 5.8vh;
  width: 10vw;
  font-size: 22px;
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: #E99A01;
  color: aliceblue;
  border: none;
  margin-left: 1vw;
  border-radius: 4px;
}

.searchBar .searchBarButton:hover{
    background-color: aliceblue;
    color: #E99A01;
    border: solid 2px #E99A01;
}
