.searchBar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.searchBar .searchBarInput{
  width: 60vw;
  height: 6vh;
  border-radius: 4px;
  font-size: 20px;
  border: solid 2px #9095a1;
  padding: 10px 18px;
}

.searchBarButton {
  height: 5.8vh;
  width: 10vw;
  font-size: 22px;
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: #d29211;
  color: white;
  border: none;
  margin-left: 1vw;
  border-radius: 4px;
  
}

.searchBar .searchBarButton:hover{
  box-shadow: 2px 2px 2px #d29211;
    background-color: white;
    color: #d29211;
    border: solid 2px #d29211;
}
